$red-color: #dc2e2e;

#passion-name {
  font-weight: bold;
  font-size: 2rem;
}

#click {
  font-weight: bold;
  color: $red-color;
}

#text {
  text-align: justify;
  text-justify: inter-word;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: flex;

  justify-content: center;
  align-items: center;
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#modal {
  // position: absolute;
  z-index: 1000;
  padding: 2rem 3rem;

  width: 70%;
  min-width: 50rem;
  max-width: 100rem;

  height: fit-content;

  text-align: justify;
  text-justify: inter-word;


  background: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
  border-radius: 13px;

  // order: 2;

  p {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 2.1rem;
  }
}

.active {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.item-el {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  // flex-basis: 70%;
  // flex-shrink: 30%;

  // flex: 1 0 20rem;

  gap: 1rem;

  background: #ffffff;
  box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
  border-radius: 13px;

  padding: 2rem 3rem;

  width: 80%;
  max-width: 40rem;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  p {
    font-size: 1.8rem;
  }

  img {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  #modal {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  // #modal {
  //   display: none;
  // }
}
