$red-color: #dc2e2e;

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 75%;
  //   max-height: 20%;
  padding: 1rem 0;
  z-index: 1000;
  position: fixed;

  left: 0;
  right: 0;
  margin: 0 auto;

  a {
    &:hover {
      color: $red-color;
    }
  }

  .navbar_left {
    display: flex;
    gap: 1.5rem;

    .active {
      color: $red-color;
    }

    .scroll {
      opacity: 0.8;
    }
  }

  .navbar_right {
    a {
      background: $red-color;
      border-radius: 10px;
      padding: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        color: white;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar_container {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  //   .navbar_container {
  //     display: none;
  //   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar_container {
    font-size: 0.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar_container {
    font-size: 0.6rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar_container {
    font-size: 1rem;
  }
}
