$red-color: #dc2e2e;

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 5rem 0;
  z-index: 1;
  position: fixed;

  left: 0;
  right: 0;
  margin: 0 auto;

  svg {
    transition: 0.3s transform ease-out;
    display: none;
  }

  ul {
    display: flex;
    gap: 3rem;

    li {
      list-style-type: none;
    }
  }
  a {
    font-size: 3rem;
    &:hover {
      color: $red-color;
      transition: all 0.2s ease-out;
    }
  }

  .navbar_left {
    display: flex;
    gap: 5rem;

    .active {
      color: $red-color;
    }
  }

  .navbar_right {
    a {
      background: $red-color;
      border-radius: 10px;
      padding: 1.5rem 3rem;

      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        color: white;
      }
    }
    &:hover {
      opacity: 0.8;
      transition: all 0.2s ease-out;
    }
  }
}

.hamburger {
  visibility: hidden;
  display: flex;
  background-color: transparent;
  border: 0;
  border-top: 0.5rem solid white;

  width: 5rem;
  height: 3.5rem;
  color: white;
  font-size: 2rem;

  position: fixed;

  transition: 0.3s transform ease-out;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 0.5rem solid white;
  }

  &::after {
    transform: translateY(1rem);
  }

  &::before {
    transform: translateY(2.5rem);

    &:focus {
      transform: rotate(-90deg);
    }
  }

  &:focus {
    transform: rotate(45deg);
    border: none;
  }

  &:hover {
    cursor: pointer;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hamburger {
    visibility: visible;
    display: flex;
    position: fixed;
    top: 3rem;
    right: 2rem;
  }
  .navbar_container {
    justify-content: flex-end;
    max-width: 100%;
    z-index: 20;
    // left: -100%;

    svg {
      // transition: all 0.3s ease-out;
      display: block;

      //   transform: rotate(30deg);
    }

    a {
      display: block;
      font-size: 1rem;
    }

    .navbar_right,
    .navbar_left {
      display: none;
    }

    // .navbar_left {
    //   display: flex;
    //   //   justify-content: space-evenly;
    //   //   align-items: center;

    //   ul {
    //     display: flex;
    //     align-items: center;

    //     position: relative;
    //     top: 3rem;
    //     flex-direction: column;
    //     background-color: white;
    //     overflow-y: scroll;
    //     width: 100vw;
    //     height: auto;

    //     padding: 2rem 0;

    //     a {
    //       color: black;
    //       font-size: 4rem;
    //       padding: 0 5rem;
    //     }
    //   }
    // }

    .active {
      display: flex;
      //   justify-content: space-evenly;
      //   align-items: center;

      -webkit-transition: all, 0.2s, ease-in;
      -moz-transition: all, 0.2s, ease-in;
      -o-transition: all, 0.2s, ease-in;
      transition: all, 0.2s, ease-in;

      ul {
        display: flex;
        align-items: center;

        position: relative;
        top: 3rem;
        flex-direction: column;
        background-color: white;
        width: 100vw;
        height: auto;

        padding: 2rem 0;

        transition: all 2s ease;

        a {
          color: black;
          font-size: 4rem;
          padding: 0 5rem;

          &:hover {
            color: $red-color;
            transition: all 0.2s ease-out;
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  //   .hamburger {
  //     visibility: visible;
  //     display: flex;
  //     position: relative;
  //   }
  //   .navbar_container {
  //     justify-content: flex-end;
  //     max-width: 90%;

  .navbar_container {
    a {
      font-size: 1.9rem;
    }
  }

  //     .navbar_right,
  //     .navbar_left {
  //       display: none;
  //     }
  //   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 834px) {
  .navbar_container {
    a {
      font-size: 2rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar_container {
    a {
      font-size: 2.5rem;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar_container {
    // font-size: 1rem;
  }
}
